body {
    background-color: #cdc687; /* Gris très clair pour un fond apaisant */
    color: #333; /* Texte sombre */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }

  .cards-container{
    margin-bottom: 5rem;
  }